xmltemplate/tests/data/experiments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:experiments"
           xmlns:ex="urn:experiments"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
  <xs:element name="Lab" type="ex:LabSetup"/>

  <xs:complexType name="LabSetup">
    <xs:sequence>
      <xs:element name="equipment" type="ex:Equipment" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element name="vendor" type="xs:token"/>
      <xs:element name="model" type="xs:token"/>
    </xs:sequence>
  </xs:complexType>

  
</xs:schema>
