xmltemplate/tests/data/mylab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:mylab"
           xmlns:m="urn:mylab"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
       elementFormDefault="qualified">
  <xs:element name="MyLab" type="m:LabSetup"/>

  <xs:complexType name="LabSetup">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="type" type="xs:token"/>
    </xs:sequence>
  </xs:complexType>    
</xs:schema>
